<!DOCTYPE html>
<html>
	<head>
		<title><%=title%></title>
		<link rel="stylesheet" href="public/style/Calendar.css">
		<script src='https://cdn.jsdelivr.net/npm/moment/min/moment.min.js'></script>
		<script src='https://cdn.jsdelivr.net/npm/moment-timezone/builds/moment-timezone-with-data.min.js'></script>
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/moment-timezone/index.global.min.js"></script>
		<script src ="public/scripts/EditModal.js" type="text/javascript"></script>
		<script src ="public/scripts/DetailModal.js" type="text/javascript"></script>
		<script src ="public/scripts/KeyStrokes.js" type="text/javascript"></script>
		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const calendarEl = document.getElementById('calendar')
				const calendar = new FullCalendar.Calendar(calendarEl, {
					timeZone:'<%=timeZone.id%>',
					initialView: 'dayGridMonth',
					headerToolbar: {
						left: 'prev today next',
						center: 'title',
						right: 'dayGridDay,dayGridWeek,dayGridMonth,dayGridYear listMonth'
					},
					events: '/api/events',
					eventClick: function(info){
						openEventDetailModal(info, "<%=timeZone.abbreviation%>")
					}
				})
				calendar.render()
			})
		</script>
	</head>
	<body>
		<!-- The Calendar -->
		<div id="calendar"></div>
		
		<!-- Edit Modal -->
		<div id="editModal" class="modal">
			<div class="modal-content">
				<p>Events are managed in a Google Sheet. To add, edit, or remove events from this calendar, you must have Edit rights in the backend Google Sheet. If you do not have access and would like it, send a request to <a href = "mailto:admin@f3denverco.com" target="_blank">admin@f3denverco.com</a>.</p>
				<a class="button" onclick="closeEditModal()">Back to Calendar</button>
				<a class="button" href="<%= backendLink %>" target="_blank">Open Google Sheet</a>
			</div>
		</div>

		<!-- Event Detail Modal -->
		<div id="eventDetailModal" class="modal">
			<div id="eventDetailModalContent" class="modal-content">
				<span class="close" onclick="closeEventDetailModal()">&times;</span>
			</div>
		</div>

		<!-- Time Zone -->
		<div class="timezone">
			<p>(All events showin in <%=timeZone.description%>)</p>
		</div>

		<!-- Edit Button -->
		<a class="button" onclick="openEditModal()" style="float: right;">Edit</button>

		<script>
			document.getElementById('eventDetailModal').addEventListener("click", potentiallyCloseEventDetailModal)
			document.getElementById('editModal').addEventListener("click", potentiallyCloseEditModal)
		</script>
	</body>
</html>